body {
	background-color: #62d8dB;
	margin: 0;
	text-align: center;
	font-family: serif ;
}

h1 {
	--width: 200px;
	margin: 50px auto 0 auto;
}
	
.contenedor-top {
	background-color: #66b2b2;
	position: relative;
	padding-top: 50px;
}
		
.contenedor-med {
	background-color: red;
	width: 200px;
	height: 200px;
}

.contenedor-bottom {
	background-color: yellow;
	width: 200px;
	height: 200px;
}

.nube-alta{}